
/* initializations */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* :root {
  --font-large: clamp(2.5rem, 5vw, 3.5rem),;

  --font-mdm: clamp(1.5rem, 3vw, 2.55rem);
  --font-28: clamp(20px, 1.8vw, 36px);
  --font-14: clamp(14px, 1vw, 18px);

  --font-bold: 700;
  --semi-bold: 600;
  --half-bold: 500;
  --gray: gray;
} */

.f-big {
    font-size: clamp(2.5rem, 5vw + 1rem, 3.5rem);
    line-height: 1.2;
}
.f-medium {
    font-size: clamp(1.8rem, 3vw + 0.5rem, 2.5rem);
    line-height: 1.3;
}
.f-small {
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}
.f-label {
    font-size: clamp(1rem, 1.4vw, 1.2rem);
    font-weight: 500;
}
:root {
    --padding-block-s: clamp(0.75rem, 2vw, 1.25rem);
    --padding-inline-s: clamp(1rem, 4vw, 2rem);
    --padding-block-b: clamp(1.5rem, 5vw, 3rem);
    --padding-inline-b: clamp(1rem, 6vw, 4rem);
}

/* --------------------------- */
.flex {
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary-btn {
    background-color: rgba(224, 44, 109, 1);
    padding: 10px 24px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}

/* nav bar */

.header {
    width: 90vw;
    margin: 0 auto;
    padding: clamp(40px, 6vw, 70px) 0;
}
.nav-bar {
    justify-content: space-between;
    align-items: center;
}
.nav-items a {
    text-decoration: none;
    color: var(--gray);
    font-weight: 400;
}
.nav-items {
    gap: clamp(20px, 2vw, 40px);
    list-style-type: none;
}
.banner {
    width: 100%;
    margin: clamp(2rem, 6vw, 4rem) auto;
    justify-content: space-between;
}
.banner-img {
    display: block;
    max-width: 100%;
    height: auto;
}
.banner-img-block {
    
    background: url(../influencer-gear/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    justify-content: center;
}
.banner {
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
}
.banner-text-block .banner-title, .banner-text, .banner-btn {
    margin-block-end: clamp(10px, 2vh, 30px);
}
.banner-text-block, .banner-img-block {
    padding: 1.5vw;
}

.banner-text {
    max-width: 80%;
    font-weight: 600;
}
.banner-btn {
    border-radius: 50px;
    margin-top: clamp(15px, 3vh, 30px);
}

@media  screen and (max-width: 934px) {
    .nav-bar {
        flex-direction: column;
    }
    .banner {
        text-align: center;
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner-img-block {
        display: flex;
        justify-content: center;
        width: 100%;
        background-size: contain;
    }
    .banner-text-block {
        padding: 0;
    }
}

/* --------logo section----------- */

.sponsors-section {
    width: 80dvw;
    margin-block-end: clamp(1.5rem, 2vw, 3rem);
    margin-inline: auto;
    justify-content: space-around;
    align-items: center;
}
.sponsor-logo {
    display: block;
}
@media screen and (max-width: 934px) {
    .sponsors-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
    }
    .sponsor-logo {
        justify-self: center;
    }
}


